################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs/Library/FileContentIndex/005fa1bc-da01-47f1-93f5-091dff61b8cd.vsidx
